@charset "UTF-8";
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.pointer,
.button {
  cursor: pointer;
}

:focus {
  outline: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 39px 40px 41px;
  min-height: 581px;
  min-width: 528px;
  background-color: white;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__close-btn:hover .modal__close-btn-icon,
.modal__close-btn:focus .modal__close-btn-icon {
  fill: #2196f3;
}

.modal__close-btn.modal__close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:hover, .modal-form__input:focus {
  border-color: #2196f3;
}

.modal-form__input:hover + .modal-form__input-icon,
.modal-form__input:focus + .modal-form__input-icon {
  fill: #2196f3;
}

.modal-form__input-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  display: block;
}

.modal-form__input-wrapper {
  position: relative;
}

.modal-form__input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__texarea-text {
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__input-check--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.modal-form__input-check-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form__input-check-icon-wrapper {
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-form__input-check:checked + .modal-form__input-check-text .modal-form__input-check-icon-wrapper {
  background-color: #2196f3;
  border: none;
}

.modal-form__input-check-icon {
  fill: white;
}

.modal-form__check-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.modal-form__btn-submit {
  display: block;
  margin: 0 auto;
  min-width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__btn-submit:hover, .modal-form__btn-submit:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.button {
  display: block;
  border-radius: 4px;
  padding: 11px 34px;
  min-width: 136px;
  border: none;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
}

.contact-list {
  padding-top: 0;
  padding-bottom: 0px;
}

.contact-list__item {
  margin-bottom: 9px;
}

.contact-list__item:last-child {
  margin-bottom: 0;
}

.contact-list__address-info {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__address-info:hover, .contact-list__address-info:focus {
  color: #2196f3;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.service-list {
  display: flex;
  /*   justify-content: space-between; */
  margin-left: -30px;
}

.service-list__item {
  position: relative;
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
}

.service-list__title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  bottom: 0;
}

.social-network-list {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  fill: #757575;
}

.social-network-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network-list__link:hover, .social-network-list__link:focus {
  background-color: #2196f3;
  border: none;
}

.social-network-list__link:hover .social-network-list__icon,
.social-network-list__link:focus .social-network-list__icon {
  fill: #ffffff;
}

.social-network-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-form {
  width: 570px;
  height: 86px;
  margin-left: 93px;
}

.subscription-form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscription-form__flex {
  display: flex;
  align-items: center;
}

.subscription-form__input {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  display: flex;
  align-items: center;
  width: 358px;
  height: 50px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subscription-submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding: 0;
}

.subscription-submit-btn:hover, .subscription-submit-btn:focus {
  background: #188ce8;
  cursor: pointer;
}

.subscription-submit-btn__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.subscription-submit-btn__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.team-list {
  display: flex;
  align-items: center;
}

.team-list__item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.team-list__item + .team-list__item {
  margin-left: 30px;
}

.team-list__container {
  padding-top: 30px;
}

.team-list__title {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-list__text {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
}

.portfolio-examples {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio-examples__item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.portfolio-examples__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio-examples__item:hover .portfolio-examples__description {
  transform: translateY(0%);
}

.portfolio-examples__wrapper-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-examples__description {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 300ms linear;
}

.portfolio-examples__wrapper-infox {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-examples__title {
  color: var(--secondary-text-colour);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-examples__text {
  color: var(--primary-text-colour);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.clients {
  padding-top: 94px;
  padding-bottom: 80px;
}

.clients__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  margin-left: -30px;
}

.clients-list__item {
  margin-left: 30px;
  display: flex;
  flex-basis: calc((100% - 180px) / 6);
}

.clients-list__link {
  min-width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  border-color: #2196f3;
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: #2196f3;
}

.clients-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.features {
  padding-bottom: 47px;
}

.features-list {
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  justify-content: space-between;
}

.features-list__title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  max-width: 270px;
}

.features-list__icon-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__flexbox {
  display: flex;
}

/* футер лого  */
.footer__logo {
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0px;
}

.footer__logo-inverse {
  color: #ffffff;
}

/* адресс футер  */
.footer__address {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__item {
  margin-bottom: 9px;
}

.social-network-container {
  width: 206px;
  height: 80px;
  margin-left: 70px;
}

.social-network-container__title {
  color: #ffffff;
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.footer__social-network-list {
  padding-top: 0;
}

.social-network-list__link--bg--color {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network-list__icon--fill {
  fill: #ffffff;
}

.social-network-list__icon--fill:hover, .social-network-list__icon--fill:focus {
  fill: #ffffff;
}

/* стили header  */
.header {
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
}

.header--flex {
  display: flex;
  align-items: center;
}

.header__nav--flex {
  display: flex;
  align-items: center;
}

/* logo*/
.logo {
  color: #2196f3;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;
  margin-right: 93px;
}

.header__logo--inverse {
  color: #000000;
}

/* навигация сайта header */
.site-nav__link--active {
  position: relative;
  color: #2196f3;
}

.site-nav__link--active::after {
  content: '';
  /* обязательный элемент, чтоб работал псевдоэлемент */
  position: absolute;
  left: 0;
  /*изменить на right:0;, чтобы изменить направление подчёркивания */
  bottom: -33px;
  width: 100%;
  /*задаём длинну линии до наведения курсора*/
  height: 4px;
  /*задаём ширину линии*/
  background-color: #2196f3;
  /*задаём цвет линии*/
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

/* контакты в хедере  */
.kontakt-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.kontakt-nav__item:not(:last-child) {
  margin-right: 50px;
}

.kontakt-nav__link {
  display: flex;
  align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.kontakt-nav__link:hover, .kontakt-nav__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.kontakt-nav__icon {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  margin: 0 auto;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(39, 47, 133, 0.4)), url(../images/main-bg-hero.jpg), url(../images/second-bg-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__button {
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover {
  background-color: #188ce8;
}

.hero__title {
  margin: 0 auto;
  max-width: 619px;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.our-team {
  background-color: #f5f4fa;
}

.our-team__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.what-we-can {
  padding-top: 47px;
}

.what-we-can__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 auto;
  margin-bottom: 50px;
}

.menu-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.menu-nav__button {
  display: block;
  min-width: 73px;
  color: #212121;
  background-color: #f5f4fa;
  /* cursor: pointer; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav__button:hover, .menu-nav__button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.menu-nav__item:not(:last-child) {
  margin-right: 8px;
}
/*# sourceMappingURL=main.css.map */