.clients {
  padding-top: 94px;
  padding-bottom: 80px;
}

.clients__title {
  color: $secondary-text-colour;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  margin-left: -30px;
}
.clients-list__item {
  margin-left: 30px;
  display: flex;
  flex-basis: calc((100% - 180px) / 6);
}

.clients-list__link {
  min-width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $accent-blue-colour;
  }

  &:hover .clients-list__icon,
  &:focus .clients-list__icon {
    fill: $accent-blue-colour;
  }
}

.clients-list__icon {
  fill: $icon-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
