.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $secondary-bg-colour;

  // @media screen and (min-width: 1200px) {
  //   padding-top: 60px;
  //   padding-bottom: 60px;
  // }
}

.footer__flexbox {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: unset;
    align-items: center;
    justify-content: center;
  }
}

.footer__adress-container {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-right: 164px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: unset;
    margin-bottom: unset;
  }
}

/* футер лого  */
.footer__logo {
  color: $accent-blue-colour;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;

  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0px;
  display: block;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: unset;
  }
}

.footer__logo-inverse {
  color: $bg-colour;
}

/* адресс футер  */

.footer__address {
  color: $bg-colour;
  text-align: center;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    text-align: unset;
  }
}

.footer__item {
  margin-bottom: 9px;
}

// -----------footer контейнер соц сетей-------
.social-network-container {
  // width: 206px;
  // height: 80px;
  // margin-left: 70px;
  display: block;
  margin: 0 auto;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-top: 5px;
  }

  @media screen and (min-width: 1200px) {
    margin: unset;

    width: 206px;
    height: 80px;
    margin-left: 70px;
  }
}

.social-network-container__title {
  color: $bg-colour;
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: unset;
  }
}

.footer__social-network-list {
  padding-top: 0;
}

.social-network-list__link--bg--color {
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network-list__icon--fill {
  fill: $bg-colour;

  &:hover,
  &:focus {
    fill: $bg-colour;
  }
}

.footer__subscription-form-container {
  @media screen and (min-width: 768px) {
    margin: 0 auto;
  }

  @media screen and (min-width: 1200px) {
    margin: unset;
  }
}
