/* стили header  */
.header {
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
}
.header--flex {
  display: flex;
  align-items: center;
}

.header__nav--flex {
  display: flex;
  align-items: center;
}

/* logo*/

.logo {
  color: $accent-blue-colour;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  display: inline-block;
  margin-right: 93px;
}

.header__logo--inverse {
  color: $logo-accent-colour;
}

/* навигация сайта header */

.site-nav__link--active {
  position: relative;
  color: $accent-blue-colour;
}

.site-nav__link--active::after {
  content: ''; /* обязательный элемент, чтоб работал псевдоэлемент */

  position: absolute;
  left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
  bottom: -33px;
  width: 100%; /*задаём длинну линии до наведения курсора*/
  height: 4px; /*задаём ширину линии*/
  background-color: $accent-blue-colour; /*задаём цвет линии*/
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  color: $secondary-text-colour;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-blue-colour;
  }
}

/* контакты в хедере  */

.kontakt-nav {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.kontakt-nav__item:not(:last-child) {
  margin-right: 50px;
}

.kontakt-nav__link {
  display: flex;
  align-items: center;
  color: $primary-text-colour;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  fill: $primary-text-colour;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-blue-colour;
    fill: $accent-blue-colour;
  }
}

.kontakt-nav__icon {
  margin-right: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
