.what-we-can {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    padding-bottom: 94px;
  }
}

.what-we-can__title {
  color: $secondary-text-colour;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin: 0 auto;
  margin-bottom: 50px;
}
