.what-we-can {
  padding-top: 47px;
}

.what-we-can__title {
  color: $secondary-text-colour;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin: 0 auto;
  margin-bottom: 50px;
}
