.team-list {
  display: flex;
  align-items: center;
}

.team-list__item {
  background-color: $bg-colour;
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;

  & + & {
    margin-left: 30px;
  }
}

.team-list__container {
  padding-top: 30px;
}

.team-list__title {
  color: $secondary-text-colour;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-list__text {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
}
