body {
  background-color: $bg-colour;
  color: $primary-text-colour;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.pointer,
.button {
  cursor: pointer;
}

:focus {
  outline: none;
}
