$primary-text-colour: #757575;
$secondary-text-colour: #212121;
$accent-blue-colour: #2196f3;
$bg-colour: #ffffff;
$logo-accent-colour: #000000;
$secondary-bg-colour: #2f303a;
$background-our-team-section: #f5f4fa;
$icon-color: #afb1b8;
